EncuestaSatisfaccion/EncuestaSatisfaccion/Connected Services/Vlg/ValidaLogIn2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SistemaDeSesionUnico.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SistemaDeSesionUnico.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="LoginViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Nip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordNuevo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PasswordNuevoConfirmado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RememberMe" type="xs:boolean" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginViewModel" nillable="true" type="tns:LoginViewModel" />
  <xs:complexType name="ForgotPasswordViewModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ForgotPasswordViewModel" nillable="true" type="tns:ForgotPasswordViewModel" />
</xs:schema>