EncuestaSatisfaccion/EncuestaSatisfaccion/Connected Services/Vlg/ValidaLogIn.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ValidaLogIn" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IValidaLogIn_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://sso.starmedica.com:8083/ValidaLogIn.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://sso.starmedica.com:8083/ValidaLogIn.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://sso.starmedica.com:8083/ValidaLogIn.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SistemaDeSesionUnico.Models" />
      <xsd:import schemaLocation="https://sso.starmedica.com:8083/ValidaLogIn.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IValidaLogIn_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IValidaLogIn_LogIn_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInResponse" />
  </wsdl:message>
  <wsdl:message name="IValidaLogIn_VerificaUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:VerificaUsuario" />
  </wsdl:message>
  <wsdl:message name="IValidaLogIn_VerificaUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerificaUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IValidaLogIn_RecuperaContraseña_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaContraseña" />
  </wsdl:message>
  <wsdl:message name="IValidaLogIn_RecuperaContraseña_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaContraseñaResponse" />
  </wsdl:message>
  <wsdl:message name="IValidaLogIn_GuardarContraseniaNueva_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarContraseniaNueva" />
  </wsdl:message>
  <wsdl:message name="IValidaLogIn_GuardarContraseniaNueva_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarContraseniaNuevaResponse" />
  </wsdl:message>
  <wsdl:message name="IValidaLogIn_LogInPHP_InputMessage">
    <wsdl:part name="parameters" element="tns:LogInPHP" />
  </wsdl:message>
  <wsdl:message name="IValidaLogIn_LogInPHP_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogInPHPResponse" />
  </wsdl:message>
  <wsdl:portType name="IValidaLogIn">
    <wsdl:operation name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidaLogIn/LogIn" message="tns:IValidaLogIn_LogIn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidaLogIn/LogInResponse" message="tns:IValidaLogIn_LogIn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerificaUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidaLogIn/VerificaUsuario" message="tns:IValidaLogIn_VerificaUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidaLogIn/VerificaUsuarioResponse" message="tns:IValidaLogIn_VerificaUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperaContraseña">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidaLogIn/RecuperaContraseña" message="tns:IValidaLogIn_RecuperaContraseña_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidaLogIn/RecuperaContraseñaResponse" message="tns:IValidaLogIn_RecuperaContraseña_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarContraseniaNueva">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidaLogIn/GuardarContraseniaNueva" message="tns:IValidaLogIn_GuardarContraseniaNueva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidaLogIn/GuardarContraseniaNuevaResponse" message="tns:IValidaLogIn_GuardarContraseniaNueva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LogInPHP">
      <wsdl:input wsaw:Action="http://tempuri.org/IValidaLogIn/LogInPHP" message="tns:IValidaLogIn_LogInPHP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IValidaLogIn/LogInPHPResponse" message="tns:IValidaLogIn_LogInPHP_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IValidaLogIn" type="tns:IValidaLogIn">
    <wsp:PolicyReference URI="#BasicHttpBinding_IValidaLogIn_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LogIn">
      <soap:operation soapAction="http://tempuri.org/IValidaLogIn/LogIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerificaUsuario">
      <soap:operation soapAction="http://tempuri.org/IValidaLogIn/VerificaUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaContraseña">
      <soap:operation soapAction="http://tempuri.org/IValidaLogIn/RecuperaContraseña" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarContraseniaNueva">
      <soap:operation soapAction="http://tempuri.org/IValidaLogIn/GuardarContraseniaNueva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LogInPHP">
      <soap:operation soapAction="http://tempuri.org/IValidaLogIn/LogInPHP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ValidaLogIn">
    <wsdl:port name="BasicHttpBinding_IValidaLogIn" binding="tns:BasicHttpBinding_IValidaLogIn">
      <soap:address location="https://sso.starmedica.com:8083/ValidaLogIn.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>